<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moving Puzzle</title>

    <link rel="stylesheet" href="../src/css/game.css"/>
    <script src="../src/js/game.js" type="module" defer></script>
  </head>
  <body>
    <div id="puzzle"></div>
    <button id="ranking-button">Ranking</button>
    <button id="start-button">Start Game</button>
    <button id="restart-button">Restart Game</button>
  </body>
</html>
